html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/screen.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* line 21, ../sass/screen.scss */
html {
  overflow-y: scroll;
}

/* line 25, ../sass/screen.scss */
body {
  background: #fff;
  font-family: 'Titillium Web', sans-serif;
}

/* line 30, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #1ab188;
  transition: .5s ease;
}
/* line 34, ../sass/screen.scss */
a:hover {
  color: #179b77;
}

/* line 39, ../sass/screen.scss */
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

/* line 52, ../sass/screen.scss */
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
/* line 56, ../sass/screen.scss */
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
/* line 61, ../sass/screen.scss */
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}
/* line 73, ../sass/screen.scss */
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
/* line 78, ../sass/screen.scss */
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

/* line 84, ../sass/screen.scss */
.tab-content > div:last-child {
  display: none;
}

/* line 88, ../sass/screen.scss */
h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
  font-size: 30px;
}

/* line 96, ../sass/screen.scss */
label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
/* line 105, ../sass/screen.scss */
label .req {
  margin: 2px;
  color: #1ab188;
}

/* line 111, ../sass/screen.scss */
label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
/* line 115, ../sass/screen.scss */
label.active .req {
  opacity: 0;
}

/* line 120, ../sass/screen.scss */
label.highlight {
  color: #ffffff;
}

/* line 124, ../sass/screen.scss */
input,
textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
}
/* line 137, ../sass/screen.scss */
input:focus,
textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

/* line 143, ../sass/screen.scss */
textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

/* line 148, ../sass/screen.scss */
.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

/* line 154, ../sass/screen.scss */
.top-row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 159, ../sass/screen.scss */
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
/* line 163, ../sass/screen.scss */
.top-row > div:last-child {
  margin: 0;
}

/* line 169, ../sass/screen.scss */
.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
/* line 182, ../sass/screen.scss */
.button:hover, .button:focus {
  background: #179b77;
}

/* line 188, ../sass/screen.scss */
.button-block {
  display: block;
  width: 100%;
}

/* line 193, ../sass/screen.scss */
.forgot {
  margin-top: -20px;
  text-align: right;
  padding-bottom: 15px;
}